<div class="main-content">
  <!-- <div id="myDiagram" class="diagram"></div> -->
  <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
      <!-- <iframe width="560" height="315"
          src="https://www.youtube.com/embed/AxLZXkGqyBE?si=YcKCCafMLzgL0f32&amp;controls=0"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe> -->

      <app-diagram [diagramID]="item.index"></app-diagram>


    </gridster-item>
  </gridster>
</div>
<button (click)="addCanvas()">Add Canvas</button>
<!-- <button class="btn" (click)="addNode()">
  Add Node
</button> -->
